<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whr.mapper.BusContractInfoMapper">
  <resultMap id="BaseResultMap" type="com.whr.model.BusContractInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="buyer" jdbcType="VARCHAR" property="buyer" />
    <result column="seller" jdbcType="VARCHAR" property="seller" />
    <result column="contract_date" jdbcType="DATE" property="contractDate" />
    <result column="contract_no" jdbcType="VARCHAR" property="contractNo" />
    <result column="customer_no" jdbcType="VARCHAR" property="customerNo" />
    <result column="total" jdbcType="DECIMAL" property="total" />
    <result column="favour" jdbcType="DECIMAL" property="favour" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="delivery_date" jdbcType="DATE" property="deliveryDate" />
    <result column="delivery_place" jdbcType="VARCHAR" property="deliveryPlace" />
    <result column="delivery_address" jdbcType="VARCHAR" property="deliveryAddress" />
    <result column="pay_condition" jdbcType="VARCHAR" property="payCondition" />
    <result column="contract_status" jdbcType="VARCHAR" property="contractStatus" />
    <result column="comments" jdbcType="VARCHAR" property="comments" />
    <result column="op_create" jdbcType="VARCHAR" property="opCreate" />
    <result column="op_modify" jdbcType="VARCHAR" property="opModify" />
    <result column="gtm_create" jdbcType="TIMESTAMP" property="gtmCreate" />
    <result column="gtm_modify" jdbcType="TIMESTAMP" property="gtmModify" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, buyer, seller, contract_date, contract_no, customer_no, total, favour, standard, 
    delivery_date, delivery_place, delivery_address, pay_condition, contract_status, 
    comments, op_create, op_modify, gtm_create, gtm_modify
  </sql>
</mapper>