<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whr.mapper.BusContractPayMapper" >
  <resultMap id="BaseResultMap" type="com.whr.model.BusContractPay" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="customer_no" property="customerNo" jdbcType="VARCHAR" />
    <result column="contract_no" property="contractNo" jdbcType="VARCHAR" />
    <result column="pay_money" property="payMoney" jdbcType="DECIMAL" />
    <result column="pay_accept" property="payAccept" jdbcType="VARCHAR" />
    <result column="pay_mode" property="payMode" jdbcType="VARCHAR" />
    <result column="pay_account" property="payAccount" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="op_create" property="opCreate" jdbcType="VARCHAR" />
    <result column="op_modify" property="opModify" jdbcType="VARCHAR" />
    <result column="gtm_create" property="gtmCreate" jdbcType="TIMESTAMP" />
    <result column="gtm_modify" property="gtmModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, customer_no, contract_no, pay_money, pay_accept, pay_mode, pay_account, comments, 
    op_create, op_modify, gtm_create, gtm_modify
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bus_contract_pay
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bus_contract_pay
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whr.model.BusContractPay" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bus_contract_pay (id, customer_no, contract_no, 
      pay_money, pay_accept, pay_mode, 
      pay_account, comments, op_create, 
      op_modify, gtm_create, gtm_modify
      )
    values (#{id,jdbcType=INTEGER}, #{customerNo,jdbcType=VARCHAR}, #{contractNo,jdbcType=VARCHAR}, 
      #{payMoney,jdbcType=DECIMAL}, #{payAccept,jdbcType=VARCHAR}, #{payMode,jdbcType=VARCHAR}, 
      #{payAccount,jdbcType=VARCHAR}, #{comments,jdbcType=VARCHAR}, #{opCreate,jdbcType=VARCHAR}, 
      #{opModify,jdbcType=VARCHAR}, #{gtmCreate,jdbcType=TIMESTAMP}, #{gtmModify,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whr.model.BusContractPay" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into bus_contract_pay
    <trim prefix="(" suffix=")" suffixOverrides="," >
      id,
      <if test="customerNo != null" >
        customer_no,
      </if>
      <if test="contractNo != null" >
        contract_no,
      </if>
      <if test="payMoney != null" >
        pay_money,
      </if>
      <if test="payAccept != null" >
        pay_accept,
      </if>
      <if test="payMode != null" >
        pay_mode,
      </if>
      <if test="payAccount != null" >
        pay_account,
      </if>
      <if test="comments != null" >
        comments,
      </if>
      <if test="opCreate != null" >
        op_create,
      </if>
      <if test="opModify != null" >
        op_modify,
      </if>
      <if test="gtmCreate != null" >
        gtm_create,
      </if>
      <if test="gtmModify != null" >
        gtm_modify,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      #{id,jdbcType=INTEGER},
      <if test="customerNo != null" >
        #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null" >
        #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="payAccept != null" >
        #{payAccept,jdbcType=VARCHAR},
      </if>
      <if test="payMode != null" >
        #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="payAccount != null" >
        #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        #{comments,jdbcType=VARCHAR},
      </if>
      <if test="opCreate != null" >
        #{opCreate,jdbcType=VARCHAR},
      </if>
      <if test="opModify != null" >
        #{opModify,jdbcType=VARCHAR},
      </if>
      <if test="gtmCreate != null" >
        #{gtmCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gtmModify != null" >
        #{gtmModify,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whr.model.BusContractPay" >
    update bus_contract_pay
    <set >
      <if test="customerNo != null" >
        customer_no = #{customerNo,jdbcType=VARCHAR},
      </if>
      <if test="contractNo != null" >
        contract_no = #{contractNo,jdbcType=VARCHAR},
      </if>
      <if test="payMoney != null" >
        pay_money = #{payMoney,jdbcType=DECIMAL},
      </if>
      <if test="payAccept != null" >
        pay_accept = #{payAccept,jdbcType=VARCHAR},
      </if>
      <if test="payMode != null" >
        pay_mode = #{payMode,jdbcType=VARCHAR},
      </if>
      <if test="payAccount != null" >
        pay_account = #{payAccount,jdbcType=VARCHAR},
      </if>
      <if test="comments != null" >
        comments = #{comments,jdbcType=VARCHAR},
      </if>
      <if test="opCreate != null" >
        op_create = #{opCreate,jdbcType=VARCHAR},
      </if>
      <if test="opModify != null" >
        op_modify = #{opModify,jdbcType=VARCHAR},
      </if>
      <if test="gtmCreate != null" >
        gtm_create = #{gtmCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gtmModify != null" >
        gtm_modify = #{gtmModify,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whr.model.BusContractPay" >
    update bus_contract_pay
    set customer_no = #{customerNo,jdbcType=VARCHAR},
      contract_no = #{contractNo,jdbcType=VARCHAR},
      pay_money = #{payMoney,jdbcType=DECIMAL},
      pay_accept = #{payAccept,jdbcType=VARCHAR},
      pay_mode = #{payMode,jdbcType=VARCHAR},
      pay_account = #{payAccount,jdbcType=VARCHAR},
      comments = #{comments,jdbcType=VARCHAR},
      op_create = #{opCreate,jdbcType=VARCHAR},
      op_modify = #{opModify,jdbcType=VARCHAR},
      gtm_create = #{gtmCreate,jdbcType=TIMESTAMP},
      gtm_modify = #{gtmModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>