<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whr.mapper.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.whr.model.SysUserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="sys_role" property="sysRole" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, sys_user_id, sys_role
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
    <select id="selectBySysUserId" resultMap="BaseResultMap">
      SELECT
      <include refid="Base_Column_List"/>
      FROM sys_user_role
      WHERE sys_user_id = #{sysUserId}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.whr.model.SysUserRole" >
    insert into sys_user_role (id, sys_user_id, sys_role
      )
    values (#{id,jdbcType=INTEGER}, #{sysUserId,jdbcType=INTEGER}, #{sysRole,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.whr.model.SysUserRole" >
    insert into sys_user_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="sysUserId != null" >
        sys_user_id,
      </if>
      <if test="sysRole != null" >
        sys_role,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="sysUserId != null" >
        #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="sysRole != null" >
        #{sysRole,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whr.model.SysUserRole" >
    update sys_user_role
    <set >
      <if test="sysUserId != null" >
        sys_user_id = #{sysUserId,jdbcType=INTEGER},
      </if>
      <if test="sysRole != null" >
        sys_role = #{sysRole,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whr.model.SysUserRole" >
    update sys_user_role
    set sys_user_id = #{sysUserId,jdbcType=INTEGER},
      sys_role = #{sysRole,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>