<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.whr.mapper.SysUserMapper" >
  <resultMap id="BaseResultMap" type="com.whr.model.SysUser" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="login_name" property="loginName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="staff_no" property="staffNo" jdbcType="VARCHAR" />
    <result column="enabled" property="enabled" jdbcType="BIT" />
    <result column="expire_date" property="expireDate" jdbcType="TIMESTAMP" />
    <result column="ip_addr" property="ipAddr" jdbcType="VARCHAR" />
    <result column="mac_addr" property="macAddr" jdbcType="VARCHAR" />
    <result column="comments" property="comments" jdbcType="VARCHAR" />
    <result column="op_create" property="opCreate" jdbcType="VARCHAR" />
    <result column="op_modify" property="opModify" jdbcType="VARCHAR" />
    <result column="gtm_create" property="gtmCreate" jdbcType="TIMESTAMP" />
    <result column="gtm_modify" property="gtmModify" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    <!--
      WARNING - @mbg.generated
    -->
    id, login_name, password, staff_no, enabled, expire_date, ip_addr, mac_addr, comments, 
    op_create, op_modify, gtm_create, gtm_modify
  </sql>
    <select id="selectByLoginName" resultType="com.whr.model.SysUser">
      SELECT
      <include refid="Base_Column_List"/>
      FROM sys_user
      WHERE login_name = #{loginName}
    </select>
</mapper>